<section class="content">
  <div class="content-block">
    <div class="block-header" *ngFor="let breadscrum of breadscrums">
      <!-- breadcrumb -->
      <app-breadcrumb
        [title]="breadscrum.title"
        [items]="breadscrum.items"
        [active_item]="breadscrum.active"
      >
      </app-breadcrumb>
    </div>
    <!-- Your content goes here  -->
    <div class="row clearfix">
      <div class="col-lg-4 col-md-12">
        <div class="card">
          <div class="header">
            <h2>About Course</h2>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 mb-2">
              <mat-form-field
                class="example-full-width mb-3"
                appearance="outline"
              >
                <mat-label>Course Name</mat-label>
                <mat-select
                  #courses
                  [(value)]="selectedCourse"
                  [(ngModel)]="selectedCourse"
                  (selectionChange)="onChange()"
                >
                  <mat-option
                    *ngFor="let item of coursesList"
                    [value]="item.subjectId"
                  >
                    {{ item.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="card-body">
            <div class="">
              <p class="text-default">
                <!-- {{ courseData.cDetails }} -->
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime,
                voluptates? Illum magni nostrum eum fugiat dignissimos.
                Explicabo eaque quaerat incidunt a similique earum deserunt,
                laboriosam, ea laudantium at, expedita sequi?
              </p>
              <ul class="list-group list-group-unbordered">
                <li class="list-group-item">
                  <b>Course code </b>
                  <div class="profile-desc-item float-end">
                    <!-- {{ courseData.subjectId }} -->
                  </div>
                </li>
                <li class="list-group-item">
                  <b>educationType </b>
                  <div class="profile-desc-item float-end">
                    <!-- {{courseData.educationType} -->
                  </div>
                </li>
                <li class="list-group-item">
                  <b>studyYear </b>
                  <div class="profile-desc-item float-end">
                    <!-- {{ courseData.studyYear }} -->
                  </div>
                </li>
                <li class="list-group-item">
                  <b>Material</b>
                  <div class="profile-desc-item float-end">
                    <!-- {{ courseData.uploadFile }} -->
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
