<section class="content">
  <div class="content-block">
    <div class="block-header" *ngFor="let breadscrum of breadscrums">
      <!-- breadcrumb -->
      <app-breadcrumb
        [title]="breadscrum.title"
        [items]="breadscrum.items"
        [active_item]="breadscrum.active"
      >
      </app-breadcrumb>
    </div>
    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="header" style="display: flex; flex-direction: column">
            <h2>Edit Teacher</h2>

            <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12 mb-2">
              <mat-form-field
                class="example-full-width mb-3"
                appearance="outline"
              >
                <mat-label>Teacher Name</mat-label>
                <mat-select
                  #teachers
                  [(value)]="selectedTeacher"
                  [(ngModel)]="selectedTeacher"
                  (selectionChange)="onChange()"
                >
                  <mat-option
                    *ngFor="let item of teacherList"
                    [value]="item.user.id"
                  >
                    {{ item.user.firstName }} {{ item.user.lastName }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div *ngIf="teachers.value" class="body">
            <form class="m-4" [formGroup]="proForm" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field
                    class="example-full-width mb-3"
                    appearance="outline"
                  >
                    <mat-label>First name</mat-label>
                    <input matInput formControlName="first" required />
                    <mat-error
                      *ngIf="proForm.get('first').hasError('required')"
                    >
                      First name is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field
                    class="example-full-width mb-3"
                    appearance="outline"
                  >
                    <mat-label>Last name</mat-label>
                    <input matInput formControlName="last" />
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field
                    class="example-full-width mb-3"
                    appearance="outline"
                  >
                    <mat-label>Gender</mat-label>
                    <mat-select formControlName="gender" required>
                      <mat-option [value]="'Male'"> Male </mat-option>
                      <mat-option [value]="'Female'"> Female </mat-option>
                    </mat-select>
                    <mat-error
                      *ngIf="proForm.get('gender').hasError('required')"
                    >
                      Gender is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field
                    class="example-full-width mb-3"
                    appearance="outline"
                  >
                    <mat-label>Mobile</mat-label>
                    <input
                      matInput
                      formControlName="mobile"
                      type="number"
                      required
                    />
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field
                    class="example-full-width mb-3"
                    appearance="outline"
                  >
                    <mat-label>Password</mat-label>
                    <input
                      matInput
                      formControlName="password"
                      type="text"
                      required
                    />
                    <mat-error
                      *ngIf="proForm.get('password').hasError('required')"
                    >
                      password is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field
                    class="example-full-width mb-3"
                    appearance="outline"
                  >
                    <mat-label>Re-Enter Password</mat-label>
                    <input
                      matInput
                      formControlName="conformPassword"
                      type="text"
                      required
                    />
                    <mat-error
                      *ngIf="
                        proForm.get('conformPassword').hasError('required')
                      "
                    >
                      Re-Enter password is required
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field
                    class="example-full-width mb-3"
                    appearance="outline"
                  >
                    <mat-label>Select Department</mat-label>
                    <mat-select formControlName="department" required>
                      <mat-option [value]="'Elementary'">
                        Elementary
                      </mat-option>
                      <mat-option [value]="'Middle'"> Middle </mat-option>
                      <mat-option [value]="'High'"> High </mat-option>
                    </mat-select>
                    <mat-error
                      *ngIf="proForm.get('department').hasError('required')"
                    >
                      Select Any Department
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <mat-form-field
                    class="example-full-width mb-3"
                    appearance="outline"
                  >
                    <mat-label>Address</mat-label>
                    <textarea matInput formControlName="address"></textarea>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field
                    class="example-full-width mb-3"
                    appearance="outline"
                  >
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" required />
                    <mat-error
                      *ngIf="
                        proForm.get('email').hasError('email') &&
                        proForm.get('email').touched
                      "
                    >
                      Please enter a valid email address
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field
                    class="example-full-width mb-3"
                    appearance="outline"
                  >
                    <mat-label>Date Of Birth</mat-label>
                    <input
                      matInput
                      [matDatepicker]="picker"
                      formControlName="dob"
                      required
                    />
                    <mat-datepicker-toggle
                      matSuffix
                      [for]="picker"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="proForm.get('dob').hasError('required')">
                      Please select date
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <mat-form-field
                    class="example-full-width mb-3"
                    appearance="outline"
                  >
                    <mat-label>Education</mat-label>
                    <textarea matInput formControlName="education"></textarea>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-5">
                  <label>Upload</label>
                  <app-file-upload
                    formControlName="uploadFile"
                  ></app-file-upload>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <button
                    class="btn-space"
                    [disabled]="!proForm.valid"
                    mat-raised-button
                    color="primary"
                  >
                    Submit
                  </button>
                  <button type="button" mat-button>Cancel</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
