<section class="content">
  <div class="content-block">
    <div class="block-header" *ngFor="let breadscrum of breadscrums">
      <!-- breadcrumb -->
      <app-breadcrumb
        [title]="breadscrum.title"
        [items]="breadscrum.items"
        [active_item]="breadscrum.active"
      >
      </app-breadcrumb>
    </div>
    <!-- Your content goes here  -->
    <div class="row clearfix" *ngIf="num == 0">
      <div class="col-lg-12 col-md-12">
        <div class="card w-60">
          <div class="header" style="display: flex; flex-direction: column">
            <h2>About Teacher</h2>

            <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12 mb-2">
              <mat-form-field
                class="example-full-width mb-3"
                appearance="outline"
              >
                <mat-label>Teacher Name</mat-label>
                <mat-select
                  #teachers
                  [(value)]="selectedTeacher"
                  [(ngModel)]="selectedTeacher"
                  (selectionChange)="onChange()"
                >
                  <mat-option
                    *ngFor="let item of teacherList | async"
                    [value]="item.id"
                  >
                    {{ item.firstName }} {{ item.lastName }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>

      <div class="row clearfix" *ngIf="teachers.value">
        <div class="col-lg-12 col-md-12">
          <div class="card">
            <div class="m-b-20">
              <div class="contact-grid">
                <div class="profile-header bg-dark">
                  <div class="user-name">
                    {{ teacherData?.firstName + ' ' + teacherData?.lastName }}
                  </div>
                  <div class="name-center">
                    {{ teacherData?.educationType }}
                  </div>
                </div>
                <img
                  src="assets/images/user/usrbig4.jpg"
                  class="user-img"
                  alt=""
                />
                <p>
                  {{ teacherData?.address }}
                </p>
                <div>
                  <span class="phone">
                    <i class="material-icons">phone</i
                    >{{ teacherData?.mobile }}</span
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
