<section class="content">
  <div class="content-block">
    <div class="block-header" *ngFor="let breadscrum of breadscrums">
      <!-- breadcrumb -->
      <app-breadcrumb
        [title]="breadscrum.title"
        [items]="breadscrum.items"
        [active_item]="breadscrum.active"
      >
      </app-breadcrumb>
    </div>
    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2>Add Student</h2>
          </div>
          <div class="body">
            <form class="m-4" [formGroup]="stdForm" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field
                    class="example-full-width mb-3"
                    appearance="outline"
                  >
                    <mat-label>First name</mat-label>
                    <input matInput formControlName="firstName" required />
                    <mat-error
                      *ngIf="stdForm.get('firstName').hasError('required')"
                    >
                      First name is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field
                    class="example-full-width mb-3"
                    appearance="outline"
                  >
                    <mat-label>Last name</mat-label>
                    <input matInput formControlName="lastName" />
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field
                    class="example-full-width mb-3"
                    appearance="outline"
                  >
                    <mat-label>Gender</mat-label>
                    <mat-select formControlName="gender" required>
                      <mat-option [value]="'Male'"> Male </mat-option>
                      <mat-option [value]="'Female'"> Female </mat-option>
                    </mat-select>
                    <mat-error
                      *ngIf="stdForm.get('gender').hasError('required')"
                    >
                      Gender is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field
                    class="example-full-width mb-3"
                    appearance="outline"
                  >
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" required />
                    <mat-error
                      *ngIf="
                        stdForm.get('email').hasError('email') &&
                        stdForm.get('email').touched
                      "
                    >
                      Please enter a valid email address
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field
                    class="example-full-width mb-3"
                    appearance="outline"
                  >
                    <mat-label>Mobile</mat-label>
                    <input
                      matInput
                      formControlName="mobile"
                      type="text"
                      required
                    />
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field
                    class="example-full-width mb-3"
                    appearance="outline"
                  >
                    <mat-label>Blood Group</mat-label>
                    <input
                      matInput
                      formControlName="bloodGroup"
                      type="text"
                      required
                    />
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field
                    class="example-full-width mb-3"
                    appearance="outline"
                  >
                    <mat-label>Study Year</mat-label>
                    <input
                      matInput
                      formControlName="studyYear"
                      type="text"
                      required
                    />
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field
                    class="example-full-width mb-3"
                    appearance="outline"
                  >
                    <mat-label>Date Of Birth</mat-label>
                    <input
                      matInput
                      [matDatepicker]="picker"
                      formControlName="dateOfBirth"
                      required
                    />
                    <mat-datepicker-toggle
                      matSuffix
                      [for]="picker"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error
                      *ngIf="stdForm.get('dateOfBirth').hasError('required')"
                    >
                      Please select date
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field
                    class="example-full-width mb-3"
                    appearance="outline"
                  >
                    <mat-label>Registration Date</mat-label>
                    <input
                      matInput
                      [matDatepicker]="rpicker"
                      formControlName="registerDate"
                      required
                    />
                    <mat-datepicker-toggle
                      matSuffix
                      [for]="rpicker"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #rpicker></mat-datepicker>
                    <mat-error
                      *ngIf="stdForm.get('registerDate').hasError('required')"
                    >
                      Please select date
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field
                    class="example-full-width mb-3"
                    appearance="outline"
                  >
                    <mat-label>Select Department</mat-label>
                    <mat-select formControlName="educationType" required>
                      <mat-option [value]="'elementary'">
                        Elementary
                      </mat-option>
                      <mat-option [value]="'middle'"> Middle </mat-option>
                      <mat-option [value]="'Sciences'"> Sciences </mat-option>
                      <mat-option [value]="'Literature'">
                        Literature
                      </mat-option>
                    </mat-select>
                    <mat-error
                      *ngIf="stdForm.get('educationType').hasError('required')"
                    >
                      Select Any Department
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field
                    class="example-full-width mb-3"
                    appearance="outline"
                  >
                    <mat-label>Parents name</mat-label>
                    <input matInput formControlName="parentName" required />
                    <mat-error
                      *ngIf="stdForm.get('parentName').hasError('required')"
                    >
                      Parents name is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field
                    class="example-full-width mb-3"
                    appearance="outline"
                  >
                    <mat-label>Parents Mobile Number</mat-label>
                    <input
                      matInput
                      formControlName="parentPhonenumber"
                      type="text"
                    />
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <mat-form-field
                    class="example-full-width mb-3"
                    appearance="outline"
                  >
                    <mat-label>Address</mat-label>
                    <textarea matInput formControlName="address"></textarea>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <button
                    class="btn-space"
                    [disabled]="!stdForm.valid"
                    mat-raised-button
                    color="primary"
                  >
                    Submit
                  </button>
                  <button type="button" mat-button>Cancel</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
