<section class="content">
  <div class="content-block">
    <div class="block-header" *ngFor="let breadscrum of breadscrums">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
      </app-breadcrumb>
    </div>
    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2>Edit Course</h2>

          </div>
          <div class="body">
            <form class="m-4" [formGroup]="courseForm" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Course name</mat-label>
                    <input matInput formControlName="cName" required>
                    <mat-error *ngIf="courseForm.get('cName').hasError('required')">
                      Course name is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Course code</mat-label>
                    <input matInput formControlName="cCode">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Course Details</mat-label>
                    <textarea matInput formControlName="cDetails" required></textarea>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Start Date</mat-label>
                    <input matInput [matDatepicker]="rpicker" formControlName="sDate" required>
                    <mat-datepicker-toggle matSuffix [for]="rpicker"></mat-datepicker-toggle>
                    <mat-datepicker #rpicker></mat-datepicker>
                    <mat-error *ngIf="courseForm.get('sDate').hasError('required')">
                      Please select date
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Course Time Length</mat-label>
                    <input matInput formControlName="cTyme">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Course Price</mat-label>
                    <input matInput formControlName="cPrice" required>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Professor Name</mat-label>
                    <mat-select formControlName="pName" required>
                      <mat-option [value]="'1'">
                        Pr. Jayesh Patel
                      </mat-option>
                      <mat-option [value]="'2'">
                        Pr. Salini Parmar
                      </mat-option>
                      <mat-option [value]="'3'">
                        Pr. Mayank Trivedi
                      </mat-option>
                      <mat-option [value]="'4'">
                        Pr. Parit Varma
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="courseForm.get('pName').hasError('required')">
                      Select any professor
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Maximum Students Lenght</mat-label>
                    <input matInput formControlName="maxStds" type="number" required>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Contact Number</mat-label>
                    <input matInput formControlName="contactNo" type="number" required>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-5">
                  <label>Upload</label>
                  <app-file-upload formControlName="uploadFile"></app-file-upload>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <button class="btn-space" [disabled]="!courseForm.valid " mat-raised-button
                    color="primary">Submit</button>
                  <button type="button" mat-button>Cancel</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
