<section class="content">
  <div class="content-block">
    <div class="block-header" *ngFor="let breadscrum of breadscrums">
      <!-- breadcrumb -->
      <app-breadcrumb
        [title]="breadscrum.title"
        [items]="breadscrum.items"
        [active_item]="breadscrum.active"
      >
      </app-breadcrumb>
    </div>
    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2>Edit Course</h2>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 mb-2">
              <mat-form-field
                class="example-full-width mb-3"
                appearance="outline"
              >
                <mat-label>Course Name</mat-label>
                <mat-select
                  #courses
                  [(value)]="selectedCourse"
                  [(ngModel)]="selectedCourse"
                  (selectionChange)="onChange()"
                >
                  <mat-option
                    *ngFor="let item of coursesList"
                    [value]="item.subjectId"
                  >
                    {{ item.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div *ngIf="courses.value" class="body">
            <form class="m-4" [formGroup]="courseForm" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field
                    class="example-full-width mb-3"
                    appearance="outline"
                  >
                    <mat-label>Course name</mat-label>
                    <input matInput formControlName="name" required />
                    <mat-error
                      *ngIf="courseForm.get('name').hasError('required')"
                    >
                      Course name is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field
                    class="example-full-width mb-3"
                    appearance="outline"
                  >
                    <mat-label>Course code</mat-label>
                    <input matInput formControlName="subjectId" required />
                    <mat-error
                      *ngIf="courseForm.get('subjectId').hasError('required')"
                    >
                      Course code is required
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field
                    class="example-full-width mb-3"
                    appearance="outline"
                  >
                    <mat-label>Specitailty</mat-label>
                    <mat-select formControlName="educationType" required>
                      <mat-option [value]="'Elementary'">
                        Elementary
                      </mat-option>
                      <mat-option [value]="'Middle'"> Middle</mat-option>
                      <mat-option [value]="'Sciences'"> Sciences </mat-option>
                      <mat-option [value]="'Literature'">
                        Literature</mat-option
                      >
                    </mat-select>
                    <mat-error
                      *ngIf="
                        courseForm.get('educationType').hasError('required')
                      "
                    >
                      Course specitailty is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field
                    class="example-full-width mb-3"
                    appearance="outline"
                  >
                    <mat-label>Year</mat-label>
                    <input matInput formControlName="studyYear" required />
                    <mat-error
                      *ngIf="courseForm.get('studyYear').hasError('required')"
                    >
                      Course Year is required
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <mat-form-field
                    class="example-full-width mb-3"
                    appearance="outline"
                  >
                    <mat-label>Course Details</mat-label>
                    <textarea
                      matInput
                      formControlName="description"
                      required
                    ></textarea>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-5">
                  <label>Upload</label>
                  <app-file-upload
                    formControlName="uploadFile"
                  ></app-file-upload>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <button
                    class="btn-space"
                    [disabled]="!courseForm.valid"
                    mat-raised-button
                    color="primary"
                  >
                    Submit
                  </button>
                  <button type="button" mat-button>Cancel</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
