<section class="content">
  <div class="content-block">
    <div class="block-header" *ngFor="let breadscrum of breadscrums">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
      </app-breadcrumb>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h2>All Courses</h2>
          </div>
          <div class="body">
            <div class="row">
              <div class="col-md-3">
                <div class="course-card">
                  <div class="course-card-body">
                    <div class="course-card-top-overflow text-white">
                      <img src="assets/images/banner/course1.png">
                    </div>
                    <div class="post-user mt-3">
                      <span class="float-start msr-3">
                        <img class="img-circle" src="assets/images/user/user1.jpg" alt="...">
                      </span>
                      <h6 class="mb-xs mt-xs"> PHP Development Course</h6>
                      <p class="text-muted"><time>25 mins</time></p>
                    </div>
                    <h6>John Deo</h6>
                    <p>In this course, you'll explore the basic structure of a web application, and
                      how a web
                      browser interacts with a web server,as well as the basic syntax and data
                      structures of the
                      PHP language </p>
                    <div class="text-center mb-3">
                      <button mat-raised-button color="primary">Read More</button>
                    </div>
                  </div>
                  <footer class="bg-body-light">
                    <ul class="post-links no-separator">
                      <li><a href="#"><span class="text-danger"><i class="fa fa-heart"></i>
                            368</span></a></li>
                      <li><a href="#"><i class="far fa-comment-dots"></i> 48</a></li>
                    </ul>
                  </footer>
                </div>
              </div>
              <div class="col-md-3">
                <div class="course-card">
                  <div class="course-card-body">
                    <div class="course-card-top-overflow text-white">
                      <img src="assets/images/banner/course2.png">
                    </div>
                    <div class="post-user mt-3">
                      <span class="float-start msr-3">
                        <img class="img-circle" src="assets/images/user/user2.jpg" alt="...">
                      </span>
                      <h6 class="mb-xs mt-xs"> Java Development Course</h6>
                      <p class="text-muted"><time>45 mins</time></p>
                    </div>
                    <h6>Sarah Smith</h6>
                    <p>In this course, you'll explore the basic structure of a web application, and
                      how a web
                      browser interacts with a web server,as well as the basic syntax and data
                      structures of the
                      PHP language </p>
                    <div class="text-center mb-3">
                      <button mat-raised-button color="primary">Read More</button>
                    </div>
                  </div>
                  <footer class="bg-body-light">
                    <ul class="post-links no-separator">
                      <li><a href="#"><span class="text-danger"><i class="fa fa-heart"></i>
                            2,951</span></a></li>
                      <li><a href="#"><i class="far fa-comment-dots"></i> 254</a></li>
                    </ul>
                  </footer>
                </div>
              </div>
              <div class="col-md-3">
                <div class="course-card">
                  <div class="course-card-body">
                    <div class="course-card-top-overflow text-white">
                      <img src="assets/images/banner/course3.png">
                    </div>
                    <div class="post-user mt-3">
                      <span class="float-start msr-3">
                        <img class="img-circle" src="assets/images/user/user3.jpg" alt="...">
                      </span>
                      <h6 class="mb-xs mt-xs"> Angular Development Course</h6>
                      <p class="text-muted"><time>25 mins</time></p>
                    </div>
                    <h6>Airi Satou</h6>
                    <p>In this course, you'll explore the basic structure of a web application, and
                      how a web
                      browser interacts with a web server,as well as the basic syntax and data
                      structures of the
                      PHP language </p>
                    <div class="text-center mb-3">
                      <button mat-raised-button color="primary">Read More</button>
                    </div>
                  </div>
                  <footer class="bg-body-light">
                    <ul class="post-links no-separator">
                      <li><a href="#"><span class="text-danger"><i class="fa fa-heart"></i>
                            7,568</span></a></li>
                      <li><a href="#"><i class="far fa-comment-dots"></i> 457</a></li>
                    </ul>
                  </footer>
                </div>
              </div>
              <div class="col-md-3">
                <div class="course-card">
                  <div class="course-card-body">
                    <div class="course-card-top-overflow text-white">
                      <img src="assets/images/banner/course4.png">
                    </div>
                    <div class="post-user mt-3">
                      <span class="float-start msr-3">
                        <img class="img-circle" src="assets/images/user/user4.jpg" alt="...">
                      </span>
                      <h6 class="mb-xs mt-xs"> SEO Optimization Course</h6>
                      <p class="text-muted"><time>30 mins</time></p>
                    </div>
                    <h6>Ashton Cox</h6>
                    <p>In this course, you'll explore the basic structure of a web application, and
                      how a web
                      browser interacts with a web server,as well as the basic syntax and data
                      structures of the
                      PHP language </p>
                    <div class="text-center mb-3">
                      <button mat-raised-button color="primary">Read More</button>
                    </div>
                  </div>
                  <footer class="bg-body-light">
                    <ul class="post-links no-separator">
                      <li><a href="#"><span class="text-danger"><i class="fa fa-heart"></i>
                            1,258</span></a></li>
                      <li><a href="#"><i class="far fa-comment-dots"></i>158</a></li>
                    </ul>
                  </footer>
                </div>
              </div>
              <div class="col-md-3">
                <div class="course-card">
                  <div class="course-card-body">
                    <div class="course-card-top-overflow text-white">
                      <img src="assets/images/banner/course1.png">
                    </div>
                    <div class="post-user mt-3">
                      <span class="float-start msr-3">
                        <img class="img-circle" src="assets/images/user/user1.jpg" alt="...">
                      </span>
                      <h6 class="mb-xs mt-xs"> PHP Development Course</h6>
                      <p class="text-muted"><time>25 mins</time></p>
                    </div>
                    <h6>John Deo</h6>
                    <p>In this course, you'll explore the basic structure of a web application, and
                      how a web
                      browser interacts with a web server,as well as the basic syntax and data
                      structures of the
                      PHP language </p>
                    <div class="text-center mb-3">
                      <button mat-raised-button color="primary">Read More</button>
                    </div>
                  </div>
                  <footer class="bg-body-light">
                    <ul class="post-links no-separator">
                      <li><a href="#"><span class="text-danger"><i class="fa fa-heart"></i>
                            368</span></a></li>
                      <li><a href="#"><i class="far fa-comment-dots"></i> 48</a></li>
                    </ul>
                  </footer>
                </div>
              </div>
              <div class="col-md-3">
                <div class="course-card">
                  <div class="course-card-body">
                    <div class="course-card-top-overflow text-white">
                      <img src="assets/images/banner/course2.png">
                    </div>
                    <div class="post-user mt-3">
                      <span class="float-start msr-3">
                        <img class="img-circle" src="assets/images/user/user2.jpg" alt="...">
                      </span>
                      <h6 class="mb-xs mt-xs"> Java Development Course</h6>
                      <p class="text-muted"><time>45 mins</time></p>
                    </div>
                    <h6>Sarah Smith</h6>
                    <p>In this course, you'll explore the basic structure of a web application, and
                      how a web
                      browser interacts with a web server,as well as the basic syntax and data
                      structures of the
                      PHP language </p>
                    <div class="text-center mb-3">
                      <button mat-raised-button color="primary">Read More</button>
                    </div>
                  </div>
                  <footer class="bg-body-light">
                    <ul class="post-links no-separator">
                      <li><a href="#"><span class="text-danger"><i class="fa fa-heart"></i>
                            2,951</span></a></li>
                      <li><a href="#"><i class="far fa-comment-dots"></i> 254</a></li>
                    </ul>
                  </footer>
                </div>
              </div>
              <div class="col-md-3">
                <div class="course-card">
                  <div class="course-card-body">
                    <div class="course-card-top-overflow text-white">
                      <img src="assets/images/banner/course3.png">
                    </div>
                    <div class="post-user mt-3">
                      <span class="float-start msr-3">
                        <img class="img-circle" src="assets/images/user/user3.jpg" alt="...">
                      </span>
                      <h6 class="mb-xs mt-xs"> Angular Development Course</h6>
                      <p class="text-muted"><time>25 mins</time></p>
                    </div>
                    <h6>Airi Satou</h6>
                    <p>In this course, you'll explore the basic structure of a web application, and
                      how a web
                      browser interacts with a web server,as well as the basic syntax and data
                      structures of the
                      PHP language </p>
                    <div class="text-center mb-3">
                      <button mat-raised-button color="primary">Read More</button>
                    </div>
                  </div>
                  <footer class="bg-body-light">
                    <ul class="post-links no-separator">
                      <li><a href="#"><span class="text-danger"><i class="fa fa-heart"></i>
                            7,568</span></a></li>
                      <li><a href="#"><i class="far fa-comment-dots"></i> 457</a></li>
                    </ul>
                  </footer>
                </div>
              </div>
              <div class="col-md-3">
                <div class="course-card">
                  <div class="course-card-body">
                    <div class="course-card-top-overflow text-white">
                      <img src="assets/images/banner/course4.png">
                    </div>
                    <div class="post-user mt-3">
                      <span class="float-start msr-3">
                        <img class="img-circle" src="assets/images/user/user4.jpg" alt="...">
                      </span>
                      <h6 class="mb-xs mt-xs"> SEO Optimization Course</h6>
                      <p class="text-muted"><time>30 mins</time></p>
                    </div>
                    <h6>Ashton Cox</h6>
                    <p>In this course, you'll explore the basic structure of a web application, and
                      how a web
                      browser interacts with a web server,as well as the basic syntax and data
                      structures of the
                      PHP language </p>
                    <div class="text-center mb-3">
                      <button mat-raised-button color="primary">Read More</button>
                    </div>
                  </div>
                  <footer class="bg-body-light">
                    <ul class="post-links no-separator">
                      <li><a href="#"><span class="text-danger"><i class="fa fa-heart"></i>
                            1,258</span></a></li>
                      <li><a href="#"><i class="far fa-comment-dots"></i>158</a></li>
                    </ul>
                  </footer>
                </div>
              </div>
              <div class="col-md-3">
                <div class="course-card">
                  <div class="course-card-body">
                    <div class="course-card-top-overflow text-white">
                      <img src="assets/images/banner/course1.png">
                    </div>
                    <div class="post-user mt-3">
                      <span class="float-start msr-3">
                        <img class="img-circle" src="assets/images/user/user1.jpg" alt="...">
                      </span>
                      <h6 class="mb-xs mt-xs"> PHP Development Course</h6>
                      <p class="text-muted"><time>25 mins</time></p>
                    </div>
                    <h6>John Deo</h6>
                    <p>In this course, you'll explore the basic structure of a web application, and
                      how a web
                      browser interacts with a web server,as well as the basic syntax and data
                      structures of the
                      PHP language </p>
                    <div class="text-center mb-3">
                      <button mat-raised-button color="primary">Read More</button>
                    </div>
                  </div>
                  <footer class="bg-body-light">
                    <ul class="post-links no-separator">
                      <li><a href="#"><span class="text-danger"><i class="fa fa-heart"></i>
                            368</span></a></li>
                      <li><a href="#"><i class="far fa-comment-dots"></i> 48</a></li>
                    </ul>
                  </footer>
                </div>
              </div>
              <div class="col-md-3">
                <div class="course-card">
                  <div class="course-card-body">
                    <div class="course-card-top-overflow text-white">
                      <img src="assets/images/banner/course2.png">
                    </div>
                    <div class="post-user mt-3">
                      <span class="float-start msr-3">
                        <img class="img-circle" src="assets/images/user/user2.jpg" alt="...">
                      </span>
                      <h6 class="mb-xs mt-xs"> Java Development Course</h6>
                      <p class="text-muted"><time>45 mins</time></p>
                    </div>
                    <h6>Sarah Smith</h6>
                    <p>In this course, you'll explore the basic structure of a web application, and
                      how a web
                      browser interacts with a web server,as well as the basic syntax and data
                      structures of the
                      PHP language </p>
                    <div class="text-center mb-3">
                      <button mat-raised-button color="primary">Read More</button>
                    </div>
                  </div>
                  <footer class="bg-body-light">
                    <ul class="post-links no-separator">
                      <li><a href="#"><span class="text-danger"><i class="fa fa-heart"></i>
                            2,951</span></a></li>
                      <li><a href="#"><i class="far fa-comment-dots"></i> 254</a></li>
                    </ul>
                  </footer>
                </div>
              </div>
              <div class="col-md-3">
                <div class="course-card">
                  <div class="course-card-body">
                    <div class="course-card-top-overflow text-white">
                      <img src="assets/images/banner/course3.png">
                    </div>
                    <div class="post-user mt-3">
                      <span class="float-start msr-3">
                        <img class="img-circle" src="assets/images/user/user3.jpg" alt="...">
                      </span>
                      <h6 class="mb-xs mt-xs"> Angular Development Course</h6>
                      <p class="text-muted"><time>25 mins</time></p>
                    </div>
                    <h6>Airi Satou</h6>
                    <p>In this course, you'll explore the basic structure of a web application, and
                      how a web
                      browser interacts with a web server,as well as the basic syntax and data
                      structures of the
                      PHP language </p>
                    <div class="text-center mb-3">
                      <button mat-raised-button color="primary">Read More</button>
                    </div>
                  </div>
                  <footer class="bg-body-light">
                    <ul class="post-links no-separator">
                      <li><a href="#"><span class="text-danger"><i class="fa fa-heart"></i>
                            7,568</span></a></li>
                      <li><a href="#"><i class="far fa-comment-dots"></i> 457</a></li>
                    </ul>
                  </footer>
                </div>
              </div>
              <div class="col-md-3">
                <div class="course-card">
                  <div class="course-card-body">
                    <div class="course-card-top-overflow text-white">
                      <img src="assets/images/banner/course4.png">
                    </div>
                    <div class="post-user mt-3">
                      <span class="float-start msr-3">
                        <img class="img-circle" src="assets/images/user/user4.jpg" alt="...">
                      </span>
                      <h6 class="mb-xs mt-xs"> SEO Optimization Course</h6>
                      <p class="text-muted"><time>30 mins</time></p>
                    </div>
                    <h6>Ashton Cox</h6>
                    <p>In this course, you'll explore the basic structure of a web application, and
                      how a web
                      browser interacts with a web server,as well as the basic syntax and data
                      structures of the
                      PHP language </p>
                    <div class="text-center mb-3">
                      <button mat-raised-button color="primary">Read More</button>
                    </div>
                  </div>
                  <footer class="bg-body-light">
                    <ul class="post-links no-separator">
                      <li><a href="#"><span class="text-danger"><i class="fa fa-heart"></i>
                            1,258</span></a></li>
                      <li><a href="#"><i class="far fa-comment-dots"></i>158</a></li>
                    </ul>
                  </footer>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
