<section class="content">
  <div class="content-block">
    <div class="block-header" *ngFor="let breadscrum of breadscrums">
      <!-- breadcrumb -->
      <app-breadcrumb
        [title]="breadscrum.title"
        [items]="breadscrum.items"
        [active_item]="breadscrum.active"
      >
      </app-breadcrumb>
    </div>
    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2>Edit Department</h2>
            <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12 mb-2">
              <mat-form-field
                class="example-full-width mb-3"
                appearance="outline"
              >
                <mat-label>Teacher Name</mat-label>
                <mat-select
                  #Classes
                  [(value)]="selectedClass"
                  [(ngModel)]="selectedClass"
                  (selectionChange)="onChange()"
                >
                  <mat-option
                    *ngFor="let item of ClassList"
                    [value]="item.classId"
                  >
                    {{ item.classId }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div *ngIf="Classes.value" class="body">
            <form
              class="m-4"
              [formGroup]="departmentForm"
              (ngSubmit)="onSubmit()"
            >
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <mat-form-field
                    class="example-full-width mb-3"
                    appearance="outline"
                  >
                    <mat-label>Education Type</mat-label>
                    <mat-select formControlName="educationType" required>
                      <mat-option [value]="'Elementray'">
                        Elementray
                      </mat-option>
                      <mat-option [value]="'Middle'"> Middle </mat-option>
                      <mat-option [value]="'sciences'"> sciences </mat-option>
                      <mat-option [value]="'Literature'">
                        Literature
                      </mat-option>
                      <mat-option [value]="'Other'"> Other </mat-option>
                    </mat-select>
                    <mat-error
                      *ngIf="
                        departmentForm.get('educationType').hasError('required')
                      "
                    >
                      Select Any Education Type
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <mat-form-field
                    class="example-full-width mb-3"
                    appearance="outline"
                  >
                    <mat-label>Education Level</mat-label>
                    <mat-select formControlName="studyYear" required>
                      <mat-option [value]="'1'"> 1 </mat-option>
                      <mat-option [value]="'2'"> 2 </mat-option>
                      <mat-option [value]="'3'"> 3 </mat-option>
                      <mat-option [value]="'4'"> 4 </mat-option>
                      <mat-option [value]="'5'"> 5 </mat-option>
                      <mat-option [value]="'6'"> 6 </mat-option>
                    </mat-select>
                    <mat-error
                      *ngIf="
                        departmentForm.get('studyYear').hasError('required')
                      "
                    >
                      Select Any Education Level
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <mat-form-field
                    class="example-full-width mb-3"
                    appearance="outline"
                  >
                    <mat-label>Class Id</mat-label>
                    <input matInput formControlName="classId" />

                    <mat-error
                      *ngIf="departmentForm.get('classId').hasError('required')"
                    >
                      Class Id is required
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <button
                    class="btn-space"
                    [disabled]="!departmentForm.valid"
                    mat-raised-button
                    color="primary"
                  >
                    Submit
                  </button>
                  <button type="button" mat-button>Cancel</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
