<div class="addContainer">
  <div class="modalHeader">
    <div class="editRowModal">
      <div class="modalHeader clearfix">
        <div class="modal-about">
          <div class="font-weight-bold p-t-5 font-17">
            {{ dialogTitle }}
          </div>
        </div>
      </div>
    </div>
    <button
      mat-icon-button
      (click)="dialogRef.close()"
      aria-label="Close dialog"
    >
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <form
      class="register-form m-4"
      [formGroup]="departmentForm"
      (ngSubmit)="(submit)"
    >
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Education level</mat-label>
            <mat-select formControlName="studyYear" required>
              <mat-option [value]="'1'"> 1 </mat-option>
              <mat-option [value]="'2'"> 2 </mat-option>
              <mat-option [value]="'3'"> 3 </mat-option>
              <mat-option [value]="'4'"> 4 </mat-option>
              <mat-option [value]="'5'"> 5 </mat-option>
              <mat-option [value]="'6'"> 6 </mat-option>
            </mat-select>
            <mat-error
              *ngIf="departmentForm.get('studyYear').hasError('required')"
            >
              Select Any Education level
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Education Type</mat-label>
            <mat-select formControlName="educationType" required>
              <mat-option [value]="'Sciences'"> Sciences </mat-option>
              <mat-option [value]="'Literature'"> Literature </mat-option>
              <mat-option [value]="'Elementary'"> Elementary </mat-option>
              <mat-option [value]="'Middle'"> Middle </mat-option>
            </mat-select>
            <mat-icon matSuffix>person</mat-icon>
            <mat-error
              *ngIf="departmentForm.get('educationType').hasError('required')"
            >
              Education Type required
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Class Id</mat-label>
            <input matInput formControlName="classId" />
            <mat-icon matSuffix>phone</mat-icon>
            <mat-error
              *ngIf="departmentForm.get('classId').hasError('required')"
            >
              Class Id is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <div class="example-button-row">
            <button
              mat-raised-button
              color="primary"
              [type]="submit"
              [disabled]="!departmentForm.valid"
              [mat-dialog-close]="1"
              (click)="confirmAdd()"
            >
              Save
            </button>
            <button
              mat-raised-button
              color="warn"
              (click)="onNoClick()"
              tabindex="-1"
            >
              Cancel
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
